body {
    overflow-y: hidden;
    /* Hide vertical scrollbar */
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
}


.login {
    text-align: center;
    background-color: #2148C0;
}

.login p {
    color:
        #aaa;
}